name: schedule-actions
on: 
  schedule:
    - cron: 20 3,11,19 * * *
  workflow_dispatch: # Allows manual trigger from Github UI
jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          #registry-url: 'https://registry.npmjs.org'
      - run: scripts/install
      - run: git config --global user.name github-actions
      - run: git config --global user.email github-actions@github.com
      - run: npm run schedule-action
        env: 
          DKR_USER: ${{ secrets.DKR_USER }}
          DKR_PWD: ${{ secrets.DKR_PWD }}
